@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --color-red: #e42026;
  --color-blue: #1434fb;
  --color-black: #222222;
}

* {
  box-sizing: border-box;
  background-color: var(--color-black);
}

body {
  margin: 0 auto;
  width: 70%;
  font-family: ;
}

#packman {
  max-width: 500px;
}

h2 {
  color: var(--color-red);
  text-align: center;
}

#lives-score {
  color: var(--color-red);
  width: 60%;
  display: flex;
  justify-content: space-around;
}
